<section class="hero-banner hospital">
	<h1>Find and compare health services in Queensland</h1>
	<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at feugiat elit.</h2>
	<button class="highlight"><i class="icon-play_circle_filled"></i>Watch the video</button>
</section>
<section class="home-page-links">
	<div class="home-page-link hospital-information">
		<i class="icon-hospital_icon"></i>
		<h2>Hospital Information</h2>
		<p>Find and compare general information and statistics about hospitals in Queensland.</p>
		<button class="highlight">Find out more</button>
	</div>
	<div class="home-page-link surgery">
		<i class="icon-scalpel"></i>
		<h2>Surgery</h2>
		<p>Find and compare general information and statistics about surgical procedures performed.</p>
		<button class="highlight">Find out more</button>
	</div>
	<div class="home-page-link maternity">
		<i class="icon-maternity"></i>
		<h2>Maternity</h2>
		<p>Find and compare general information and statistics about maternity services provided.</p>
		<button class="highlight">Find out more</button>
	</div>
	<div class="home-page-link aged-care">
		<i class="icon-aged_care"></i>
		<h2>Residential Aged Care Facilities</h2>
		<p>Find and compare general information and statistics about residential aged care facilities.</p>
		<button class="highlight">Find out more</button>
	</div>
</section>