<section class="hospital-info">
	<h1>Mater Hospital Brisbane <a href="index.html">Back</a></h1>
	<div class="info-block">
		<h2>Address</h2>
		<p>Raymond Terrace<br/>South Brisbane<br/>QLD 4101</p>
		<h2>Phone</h2>
		<p>(07) 3163 8111</p>
		<p><strong>Website:</strong> <a href="#">Click here</a></p>
		<p><strong>Car parking:</strong> <a href="#">Click here</a></p>
		<p><i class="icon-hospital_icon"></i><strong>Public hospital</strong></p>
		<p><i class="icon-info"></i><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at feugiat elit.</span></p>
	</div>
	<div class="hospital-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1072.8665357296443!2d153.01313583917565!3d-27.47355949799363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sau!4v1566946922268!5m2!1sen!2sau" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</section>

<table class="comparison-table">
	<thead>
		<tr>
			<td>First Header Row</td>
		</tr>
		<tr>
			<td>Second Header Row</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
	</tbody>
</table>

<table class="comparison-table">
	<thead>
		<tr>
			<td>First Header Row</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
		<tr>
			<td>Data Row</td>
		</tr>
	</tbody>
</table>

<section class="info-box">
	<i class="icon-info"></i>
	<h2>Please Note!</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl mauris, ultricies quis neque ut, tempor accumsan justo. Maecenas vulputate augue a viverra aliquet. Quisque a pellentesque mauris. Fusce porta laoreet laoreet. Vestibulum pellentesque tincidunt facilisis. Curabitur interdum scelerisque ultricies. Nulla lacinia ante eget dui sagittis pellentesque. In vehicula ex at dolor mollis euismod. Nulla tellus sem, congue ac lacus vitae, bibendum pharetra turpis. Pellentesque bibendum erat dui, at porta ipsum cursus porttitor. Quisque vulputate eros vel vestibulum dignissim. </p>
</section>